[Unit]
Description=GeckodriverUpdater Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/GeckodriverUpdater/
ExecStart=/usr/bin/python3 /home/pi/GeckodriverUpdater/GeckodriverUpdater.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
